/* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling for the header and footer */
header,
footer {
    background-color: lightcoral;
    color: white;
    padding: 20px;
    text-align: center;
}

/* Styling for the main content */
main {
    padding: 20px;
    text-align: center;
    background-color: lightblue;
}

/* Styling for the button */
button {
    background-color: lightseagreen;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: greenyellow;
    color: black;
}

/* Styling TextArea and Input Fields */
textarea,
input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

/* Optional container styling */
.container {
    max-width: 600px;
    margin: auto;
}
